.page__item_position_header {
  padding-top: 28px;
  padding-bottom: 56px;
}

@media screen and (max-width: 1279px) {
  .page__item_position_header {
    padding-bottom: 48px;
  }
}
@media screen and (max-width: 767px) {
  .page__item_position_header {
    padding-top: 16px;
  }
}