.place-block__image {
  width: 100%;
  min-width: 460px;
  object-fit: cover;
}

@media screen and (max-width: 1279px) {
  .place-block__image {
    /* max-width: 460px; */
    min-width: 440px;
  }
}
@media screen and (max-width: 1023px) {
  .place-block__image {
    /* max-width: 440px; */
    min-width: 340px;
  }
}
@media screen and (max-width: 767px) {
  .place-block__image {
    /* max-width: 767px; */
    min-width: 320px;
  }
}