.place-block__website {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  text-decoration: none;
  color: white;
  text-decoration-line: underline;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}

.place-block__website:hover {
  opacity: 0.8;
  transition: all 0.15s;
}

@media screen and (max-width: 767px) {
  .place-block__website {
    width: calc(100% - 16px*2);
    margin: 0 auto;
  }
}